<launch>
    <node
        name    = "FSM"
        pkg     = "sia5_hri_fsm"
        type    = "FSM_rand.py"
        args    = ""

        respawn = "false"
        output  = "screen"
    />

    <node
	name	= "block_ready"
	pkg	= "sia5_hri_fsm"
	type	= "Wait_for_color_input.py"
	args	= ""

	respawn	= "false"
	output	= "screen"
    />

</launch>
